Net SYS_CLK TNM_NET = SYS_CLK;
TIMESPEC TS_SYS_CLK = PERIOD SYS_CLK 66666.7 kHz;
NET "SYS_CLK"       LOC = "L12" | IOSTANDARD = LVCMOS33;

#NET "clk32" PERIOD = 31.25 ns | LOC = "J4"; # IO_L42N_GCLK24_M3LDM_3
NET "LEDS<0>"        LOC = "J13" | IOSTANDARD = LVCMOS33;
NET "LEDS<1>"        LOC = "K14" | IOSTANDARD = LVCMOS33;
NET "LEDS<2>"        LOC = "U17" | IOSTANDARD = LVCMOS33;
NET "LEDS<3>"        LOC = "U18" | IOSTANDARD = LVCMOS33;

NET "TMDS(0)"  	LOC = "B2" | IOSTANDARD = TMDS_33 ; # Blue
NET "TMDSB(0)"  LOC = "A2" | IOSTANDARD = TMDS_33 ;
NET "TMDS(1)"  	LOC = "B4" | IOSTANDARD = TMDS_33 ; # Red
NET "TMDSB(1)"  LOC = "A4" | IOSTANDARD = TMDS_33 ;
NET "TMDS(2)"  	LOC = "B3" | IOSTANDARD = TMDS_33 ; # Green
NET "TMDSB(2)"  LOC = "A3" | IOSTANDARD = TMDS_33 ;
NET "TMDS(3)"  	LOC = "C5" | IOSTANDARD = TMDS_33 ; # Clock
NET "TMDSB(3)"  LOC = "A5" | IOSTANDARD = TMDS_33 ;


