#Created by Constraints Editor (xc6slx25-ftg256-3) - 2015/01/02
NET "clk50" PERIOD = 20 ns | LOC = "K3"; # IO_L42P_GCLK25_TRDY2_M3UDM
#NET "clk32" PERIOD = 31.25 ns | LOC = "J4"; # IO_L42N_GCLK24_M3LDM_3
NET "LEDS<0>" LOC="J13";
NET "LEDS<1>" LOC="K14";
NET "LEDS<2>" LOC="U17";
NET "LEDS<3>" LOC="U18";
NET "LEDS<4>" LOC="F18";
NET "LEDS<5>" LOC="E18";
NET "LEDS<6>" LOC="F17";
NET "LEDS<7>" LOC="E16";

NET "hdmi_out_p<0>" LOC="C5" | IOSTANDARD="TMDS_33"; # IO_L63P_SCP7_0
NET "hdmi_out_n<0>" LOC="A5" | IOSTANDARD="TMDS_33"; # IO_L63N_SCP6_0
NET "hdmi_out_p<1>" LOC="B4" | IOSTANDARD="TMDS_33"; # IO_L62P_0
NET "hdmi_out_n<1>" LOC="A4" | IOSTANDARD="TMDS_33"; # IO_L62N_VREF_0
NET "hdmi_out_p<2>" LOC="B3" | IOSTANDARD="TMDS_33"; # IO_L39P_0
NET "hdmi_out_n<2>" LOC="A3" | IOSTANDARD="TMDS_33"; # IO_L39N_0
NET "hdmi_out_p<3>" LOC="B2" | IOSTANDARD="TMDS_33"; # IO_L65P_SCP3_0
NET "hdmi_out_n<3>" LOC="A2" | IOSTANDARD="TMDS_33"; # IO_L65N_SCP2_0
